@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: var(--fonts-content);
}


/*FONTS*/
.font-roboto {
    font-family: var(--fonts-roboto);
}

.font-satisfy {
    font-family: var(--fonts-sub-headers);
}

.fonts-great-vibes {
    font-family: var(--fonts-headers);
}

/* SIZES */
.size-120pt {
    font-size: 120pt;
}

.size-80pt {
    font-size: 80pt;
}

.size-60pt {
    font-size: 60pt;
}

.size-40pt {
    font-size: 40pt;
}

.size-36pt {
    font-size: 36pt;
}

.size-33pt {
    font-size: 33pt;
}

.size-26pt {
    font-size: 26pt;
}

h1 {
    font-size: 100pt;
}

h2 {
    font-size: 80pt;
}

h3 {
    font-size: 60pt;
}

h4 {
    font-size: 40pt;
}

h5 {
    font-size: 20pt;
}

h6 {
    font-size: 16pt;
}

p {
    font-size: 14pt;
}

/* TITLE'S FONTS */
h1, h2, h3 {
    font-family: var(--fonts-headers);
}

h4, h5, h6 {
    font-family: var(--fonts-sub-headers);
}

p {
    font-family: var(--fonts-content);
}


/*SETTINGS GERAL*/
.active {
    font-weight: 800;
}

mark {
    text-decoration: underline;
    background: var(--colors-orange);
}

.btn.btn-contact {
    background: var(--colors-white);
    padding: 8px 55px;
    border-radius: 100px;
}

.btn.btn-contact:hover {
    color: var(--colors-black);
}

.btn.btn-green {
    background: var(--colors-light-green);
    color: var(--colors-white);
    border-radius: 0px;
    padding: 12px 45px;
}

.btn.btn-darkgreen {
    background: var(--colors-dark-green);
    color: var(--colors-white);
    padding: 15px 65px;
    margin-top: 100px;
}

.font-style-italic {
    font-style: italic;
}

.line-height {
    line-height: 34px;
}

/*COLORS*/
.text-white {
    color: var(--colors-white) !important;
}

.colors-orange {
    color: var(--colors-orange);
}

/*BACKGROUNDS*/
.bg-burnt-yellow {
    background: var(--colors-burnt-yellow);
}

.bg-light-green {
    background: var(--colors-light-green);
}