@charset "UTF-8";

:root {
    --fonts-headers: 'Great Vibes';
    --fonts-sub-headers: 'Satisfy';
    --fonts-content: 'Roboto Regular';
    
    --colors-light-green: #7D9295;
    --colors-burnt-yellow: #BF9D45;
    --colors-orange: #B38235;
    --colors-light-blue: #4B65AA;
    --colors-middle-brown: #80714E;
    --colors-white: #fff;
    --colors-gray: #ccc;
}